html,
body {
  margin: 0;
  height: 100%;
  background-image: url("img/bk01.jpg");
  background-size: contain;
  z-index: -20;
}

#container {
  background-image: url("img/bk2.jpg");
  background-position: center;
  background-size: contain;
  position: fixed;
  display: grid;
  padding-inline: 50px;
  padding-bottom: 30px;
  top: 20%;
  width: 600px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.79);
  z-index: 0;
}

#author {
  text-align: center;
  color: black;
  padding-top: 30px;
  font-family: monospace;
}

#div-quote {
  /*border: 2px solid blue;*/
  padding-inline: 50px;
}
#quote {
  /*border: 2px solid red;*/
  text-align: center;
  color: brown;
  font-style: italic;
  font-size: 22px;
}

#bt01 {
  color: brown;
  height: auto;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 30px;
  z-index: 10;
}

#demo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
